@model eSaleModel.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增訂單</title>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.2.504/styles/kendo.common.min.css">
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.2.504/styles/kendo.rtl.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.2.504/styles/kendo.silver.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.2.504/styles/kendo.mobile.all.min.css" />
    <script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2017.2.504/js/kendo.all.min.js"></script>
</head>
<body>
    
    @using (Html.BeginForm("InsertOrderResult", "Order"))
    {
        @Html.Label("新增訂單");
        <table border="1" cellpadding="4" cellspacing="0" id="new">
            <tr><td>*客戶名稱編號</td><td colspan="3">@Html.DropDownList("CustomerID", ViewBag.CustomerID as SelectList)</td></tr>
            <tr><td>*負責員工編號</td><td colspan="3">@Html.DropDownList("EmployeeID", ViewBag.EmployeeID as SelectList)</td></tr>
            <tr><td>*訂單日期</td><td>@Html.TextBox("OrderDate", "", new { @Type = "date" })</td><td>需要日期</td><td>@Html.TextBox("RequiredDate", "", new { @Type = "date" })</td></tr>
            <tr><td>出貨日期</td><td colspan="3">@Html.TextBox("ShippedDate", "", new { @Type = "date" })</td></tr>
            <tr><td>船隻編號</td><td>@Html.DropDownList("ShipperID", ViewBag.ShipperID as SelectList)</td><td>運費</td><td>@Html.TextBox("Freight")</td></tr>
            <tr><td>出貨國家</td><td>@Html.TextBox("ShipCountry")</td><td>出貨城市</td><td>@Html.TextBox("ShipCity")</td></tr>
            <tr><td>出貨地區</td><td>@Html.TextBox("ShipRegion")</td><td>郵遞區號</td><td>@Html.TextBox("ShipPostalCode")</td></tr>
            <tr><td>出貨地址</td><td>@Html.TextBox("ShipAddress")</td><td>出貨說明</td><td></td></tr>
            <tr><td>訂單金額總計</td><td td colspan="3">0</td></tr>
            <tr><td></td><td td colspan="3"><input type="submit" value="存檔"> <input type="button" value="回前一頁" onclick="window.location='@Url.Action("Index", "Order")'"></td></tr>
        </table>

        @Html.Label("訂單明細");<br>

        <input type="button" value="新增商品" onclick="add_row()" >
        <table id="table" border="1" cellpadding="4" cellspacing="0">
            <tr><th>商品</th><th>單價</th><th>數量</th><th>折扣</th><th>小計</th><th></th></tr>
        </table>
        <div id="grid">
        </div>
    }
    @Html.DropDownList("ProductName", ViewBag.ProductName as SelectList, new { @Style= "display:none;width:0px" })
</body>




</html>
 <script>
    function add_row(){
        var row = document.getElementById('table').insertRow(-1);
        row.insertCell(0).innerHTML = "<select name='ProductName[]'>" + document.getElementById('ProductName').innerHTML + "</select>";
        row.insertCell(1).innerHTML="<input name='UnitPrice[]' onChange='Count(this)' value='0' />";
        row.insertCell(2).innerHTML = "<input name='Qty[]' onChange='Count(this)' value='0' />";
        row.insertCell(3).innerHTML = "<input name='Discount[]' onChange='Count(this)' value='0' />";
        row.insertCell(4).innerHTML = "0";
        row.insertCell(5).innerHTML="<input type='button' onclick='Cancel(this)' value='取消' />";
    }
    function Cancel(row) {
        var index = row.parentNode.parentNode.rowIndex;
        document.getElementById('table').deleteRow(index);
        var count = 0;
        for (var i = 1; i < document.getElementById('table').rows.length; i++) {
            count += parseInt(document.getElementById('table').rows[i].cells[4].innerHTML);
        }
        document.getElementById('new').rows[8].cells[1].innerHTML = count;
    }
    function Count(row) {
        var index = row.parentNode.parentNode.rowIndex;
        var r = document.getElementById('table').rows[index];
        r.cells[4].innerHTML = parseInt(r.cells[1].firstChild.value) * parseInt(r.cells[2].firstChild.value) * (1 - parseFloat(r.cells[3].firstChild.value));
        var count = 0;
        for (var i = 0; i < document.getElementById('table').rows.length; i++) {
            count += parseInt(document.getElementById('table').rows[i].cells[4].innerHTML);
        }
        document.getElementById('new').rows[8].cells[1].innerHTML=count;
    }
    $("form select").kendoDropDownList({
        filter: "contains",
    });
    $("input").kendoMaskedTextBox();
    var datasource = new kendo.data.DataSource({
        schema: {
            model: {
                fields: {
                    ProductName: { type: "string" },
                    UnitPrice: { type: "number", validation: { min: 1, required: true } },
                    Qty: { type: "number", validation: { min: 1, required: true } },
                    Discount: { type: "number", validation: { min: 0,max:1, required: true } },
                    Total: {type:""}
                }
            }
        },
        pageSize: 20
    });
    $("#table").kendoGrid();
    /*$("#grid").kendoGrid({
        dataSource:datasource,
        columns: [{
            field: "ProductName",
            title: "產品名稱"
        }, {
            field: "UnitPrice",
            title: "單價",
        }, {
            field: "Qty",
            title: "數量",
        }, {
            field: "Discount",
            title: "折扣",
        }, {
            field: "Total",
            title: "總計",
        }, {
            command: {
                name:"destroy",
                text: "取消"
            }
        }],
        editable: {
            createAt: "bottom",
            confirmation: false
        },
        toolbar: ["create"],
        messages: {
            commands: {
                create: "新增一筆訂單"
            }
        }
    });*/
</script>
