@model eSaleModel.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改訂單</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    
</head>
<body>
    @Html.DropDownList("ProductName", ViewBag.ProductName as SelectList, new { @Style = "width:0px" })
    @using (Html.BeginForm("ModifyOrderResult","Order"))
    {
       @Html.Label("修改訂單");
        <table border="1" cellpadding="4" cellspacing="0" id="new">
            <tr><td>訂單編號編號</td><td colspan="3">@Model.OrderID @Html.Hidden("OrderID",Model.OrderID.ToString())</td></tr>
            <tr><td>*客戶名稱編號</td><td colspan="3">@Html.DropDownList("CustomerID", ViewBag.CustomerID as SelectList)</td></tr>
            <tr><td>*負責員工編號</td><td colspan="3">@Html.DropDownList("EmployeeID", ViewBag.EmployeeID as SelectList)</td></tr>
            <tr><td>*訂單日期</td><td>@Html.TextBox("OrderDate","",new { @Type = "date" ,@Value= string.Format("{0:yyyy-MM-dd}", Model.OrderDate) })</td><td>需要日期</td><td>@Html.TextBox("RequiredDate", "", new { @Type = "date" ,@Value= string.Format("{0:yyyy-MM-dd}", Model.RequiredDate) })</td></tr>
            <tr><td>出貨日期</td><td colspan="3">@Html.TextBox("ShippedDate", "", new { @Type = "date", @Value = string.Format("{0:yyyy-MM-dd}", Model.ShippedDate) })</td></tr>
            <tr><td>船隻編號</td><td>@Html.DropDownList("ShipperID", ViewBag.ShipperID as SelectList)</td><td>運費</td><td>@Html.TextBox("Freight")</td></tr>
            <tr><td>出貨國家</td><td>@Html.TextBox("ShipCountry")</td><td>出貨城市</td><td>@Html.TextBox("ShipCity")</td></tr>
            <tr><td>出貨地區</td><td>@Html.TextBox("ShipRegion")</td><td>郵遞區號</td><td>@Html.TextBox("ShipPostalCode")</td></tr>
            <tr><td>出貨地址</td><td>@Html.TextBox("ShipAddress")</td><td>出貨說明</td><td></td></tr>
            <tr><td>訂單金額總計</td><td td colspan="3">@Html.Label("")</td></tr>
            <tr><td></td><td td colspan="3"><input type="submit" value="存檔"> @Ajax.ActionLink("刪除本筆訂單","DeleteOrder", new { OrderID = @Model.OrderID},new AjaxOptions { HttpMethod="GET"}) @Html.ActionLink("返回", "Index")</td></tr>
        </table>

        @Html.Label("訂單明細");<br>

        <input type="button" value="新增商品" onclick="add_row()">
        <table id="table" border="1" cellpadding="4" cellspacing="0">
            <tr><th>商品</th><th>單價</th><th>數量</th><th>折扣</th><th>小計</th><th></th></tr>
            @{int i = 0;}
            @foreach (var item in ViewBag.ProductList)
            {
                <tr>
                    <td>
                        <script>
                            document.write("<select name='ProductName["+@i+"]'>" + document.getElementById('ProductName').innerHTML + "</select>");
                            $("[name='ProductName["+@i+"]']").val(@item.ProductName[0]);
                        </script>
                    </td>
                    <td><input name='UnitPrice[]' onChange='Count(this)' value='@item.UnitPrice[0]' /></td>
                    <td><input name='Qty[]' onChange='Count(this)' value='@item.Qty[0]' /></td>
                    <td><input name='Discount[]' onChange='Count(this)' value='@item.Discount[0]' /></td>
                    <td>@(Convert.ToInt32(item.UnitPrice[0])*Convert.ToInt32(item.Qty[0])* (1-Convert.ToSingle(item.Discount[0])))</td>
                    <td><input type='button' onclick='Cancel(this)' value='取消' /></td>
                </tr>            
                i++;
            }
        </table>
    }
   
</body>
</html>
<script>
    $('#CustomerID').val(@Model.CustomerID.ToString());
    $('#EmployeeID').val(@Model.EmployeeID.ToString());
    $('#ShipperID').val(@Model.ShipperID.ToString());
    $('[name=ProductName]').val();
</script>
<script>
    function add_row(){
        var row = document.getElementById('table').insertRow(-1);
        row.insertCell(0).innerHTML = "<select name='ProductName[]'>" + document.getElementById('ProductName').innerHTML; + "</select>";
        row.insertCell(1).innerHTML="<input name='UnitPrice[]' onChange='Count(this)' value='0' />";
        row.insertCell(2).innerHTML = "<input name='Qty[]' onChange='Count(this)' value='0' />";
        row.insertCell(3).innerHTML = "<input name='Discount[]' onChange='Count(this)' value='0' />";
        row.insertCell(4).innerHTML = "0";
        row.insertCell(5).innerHTML="<input type='button' onclick='Cancel(this)' value='取消' />";
    }
    function Cancel(row) {
        var index = row.parentNode.parentNode.rowIndex;
        document.getElementById('table').deleteRow(index);
        var count = 0;
        for (var i = 1; i < document.getElementById('table').rows.length; i++) {
            count += parseInt(document.getElementById('table').rows[i].cells[4].innerHTML);
        }
        document.getElementById('new').rows[8].cells[1].innerHTML = count;
    }
    function Count(row) {
        var index = row.parentNode.parentNode.rowIndex;
        var r = document.getElementById('table').rows[index];
        r.cells[4].innerHTML = parseInt(r.cells[1].firstChild.value) * parseInt(r.cells[2].firstChild.value) * (1 - parseInt(r.cells[3].firstChild.value));
        var count = 0;
        for (var i = 1; i < document.getElementById('table').rows.length; i++) {
            count += parseInt(document.getElementById('table').rows[i].cells[4].innerHTML);
        }
        document.getElementById('new').rows[9].cells[1].innerHTML=count;
    }
</script>
