@model eSaleModel.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改訂單</title>
</head>
<body>
    @using (Html.BeginForm("ModifyOrderResult","Order"))
    {
       @Html.Label("修改訂單");
        <table border="1" cellpadding="4" cellspacing="0">
            <tr><td>訂單編號編號</td><td colspan="3">@Model.OrderID @Html.Hidden("OrderID",Model.OrderID.ToString())</td></tr>
            <tr><td>*客戶名稱編號</td><td colspan="3">@Html.DropDownList("CustomerID", ViewBag.CustomerID as SelectList, new { @Selected = Model.CustomerID.ToString()})</td></tr>
            <tr><td>*負責員工編號</td><td colspan="3">@Html.DropDownList("EmployeeID", ViewBag.EmployeeID as SelectList, new { @Selected = Model.EmployeeID.ToString()})</td></tr>
            <tr><td>*訂單日期</td><td>@Html.TextBox("OrderDate","",new { @Type = "date" ,@Value= string.Format("{0:yyyy-MM-dd}", Model.OrderDate) })</td><td>需要日期</td><td>@Html.TextBox("RequiredDate", "", new { @Type = "date" ,@Value= string.Format("{0:yyyy-MM-dd}", Model.RequiredDate) })</td></tr>
            <tr><td>出貨日期</td><td colspan="3">@Html.TextBox("ShippedDate", "", new { @Type = "date", @Value = string.Format("{0:yyyy-MM-dd}", Model.ShippedDate) })</td></tr>
            <tr><td>船隻編號</td><td>@Html.DropDownList("ShipperID", ViewBag.ShipperID as SelectList, new { @Selected = Model.ShipperID.ToString() })</td><td>運費</td><td>@Html.TextBox("Freight")</td></tr>
            <tr><td>出貨國家</td><td>@Html.TextBox("ShipCountry")</td><td>出貨城市</td><td>@Html.TextBox("ShipCity")</td></tr>
            <tr><td>出貨地區</td><td>@Html.TextBox("ShipRegion")</td><td>郵遞區號</td><td>@Html.TextBox("ShipPostalCode")</td></tr>
            <tr><td>出貨地址</td><td>@Html.TextBox("ShipAddress")</td><td>出貨說明</td><td></td></tr>
            <tr><td>訂單金額總計</td><td td colspan="3">@Html.Label("")</td></tr>
            <tr><td></td><td td colspan="3"><input type="submit" value="存檔"> @Ajax.ActionLink("刪除本筆訂單","DeleteOrder", new { OrderID = @Model.OrderID},new AjaxOptions { HttpMethod="GET"}) @Html.ActionLink("返回", "Index")</td></tr>
        </table>
    }
</body>
</html>
