@model eSaleModel.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>查詢結果</title>
</head>
<body>
    <div>
        <h4>查詢結果</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OrderID)：@Html.DisplayFor(model => model.OrderID)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.CustomerID)：@Html.DisplayFor(model => model.CustomerID)
            </dt>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerName)：@Html.DisplayFor(model => model.CustomerName)
            </dt>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeID)：@Html.DisplayFor(model => model.EmployeeID)
            </dt>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeName)：@Html.DisplayFor(model => model.EmployeeName)
            </dt>
    
            <dt>
                @Html.DisplayNameFor(model => model.OrderDate)：@Html.DisplayFor(model => model.OrderDate)
            </dt>
    
            <dt>
                @Html.DisplayNameFor(model => model.RequiredDate)：@Html.DisplayFor(model => model.RequiredDate)
            </dt>
    
            <dt>
                @Html.DisplayNameFor(model => model.ShippedDate)：@Html.DisplayFor(model => model.ShippedDate)
            </dt>
    
            <dt>
                @Html.DisplayNameFor(model => model.ShipperID)：@Html.DisplayFor(model => model.ShipperID)
            </dt>
    
            <dt>
                @Html.DisplayNameFor(model => model.Freight) ：@Html.DisplayFor(model => model.Freight)
            </dt>
    
            <dt>
                @Html.DisplayNameFor(model => model.ShipName)：@Html.DisplayFor(model => model.ShipName)
            </dt>
    
            <dt>
                @Html.DisplayNameFor(model => model.ShipAddress)：@Html.DisplayFor(model => model.ShipAddress)
            </dt>
    
            <dt>
                @Html.DisplayNameFor(model => model.ShipCity)：@Html.DisplayFor(model => model.ShipCity)
            </dt>
    
            <dt>
                @Html.DisplayNameFor(model => model.ShipRegion)：@Html.DisplayFor(model => model.ShipRegion)
            </dt>
    
            <dt>
                @Html.DisplayNameFor(model => model.ShipPostalCode)：@Html.DisplayFor(model => model.ShipPostalCode)
            </dt>
    
            <dt>
                @Html.DisplayNameFor(model => model.ShipCountry)：@Html.DisplayFor(model => model.ShipCountry)
            </dt>
    
            <dt>
                @Html.DisplayNameFor(model => model.ShipperName) ：@Html.DisplayFor(model => model.ShipperName)
            </dt>
    
        </dl>
    </div>
    @using (Html.BeginForm("DeleteOrder", "Order"))
    {
        <div>
            @Html.Hidden("orderid", @Html.DisplayFor(model => model.OrderID), new { id = "orderid" }) <input type="submit" value="刪除訂單">
        </div>
    }
    @using (Html.BeginForm("ModifyOrder", "Order"))
    {
        <div>
            @Html.Hidden("orderid", @Html.DisplayFor(model => model.OrderID), new { id = "orderid" }) <input type="submit" value="修改訂單">
        </div>
    }
     @Html.ActionLink("返回", "Index")
        
</body>
</html>
